.apps {
  & .fullscreen-section {
    padding: 12rem 0 10rem;
  }

  &__list {
    margin-top: 3rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 3.5rem;
  }

}

.controls {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 2rem;
  }
}



.product-card {
  &__header {
  }

  & .subtitle {
    color: $alternative-color;
  }

  &__content {
    margin-top: 2rem;
  }

  &__footer {
    margin-top: 2rem;
  }
}
