.apps {
  & .fullscreen-section {
    padding: 12rem 0 10rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -6rem;
    margin-left: -6rem;
  }

  &__item {
    margin-top: 6rem;
    margin-left: 6rem;
    max-width: 360px;
    //&:not(:last-child) {
    //  margin-bottom: 3.5rem;
    //}
  }
}
