- var aboutText = 'The Moon is our nearest neighbor in space. The Moon is smaller than the Earth. It moves around the Earth in a path, called an orbit. Astronauts have visited the Moon. A spaceship takes a half days to go from the Earth to the Moon.';

section.section
  .container
    h2.title About
    +card('about', aboutText)
