- var icons = [{ name: 'medium', link: '//medium.com' }, { name: 'facebook', link: '//www.facebook.com' }, { name: 'twitter', link: '//twitter.com' }];

mixin socials(mod)
  - var modificator = mod ? `socials socials--${mod}` : 'socials';
  div(class=`${modificator}`)
    ul.socials__list
      each icon in icons
        li.socials__item
          a(class="socials__link" href=icon.link target="_blank")
            +icon(icon.name, `socials__icon socials__icon--${icon.name}`)
