@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope-bold.woff2') format('woff2'),
       url('./fonts/manrope-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope-extrabold.woff2') format('woff2'),
       url('./fonts/manrope-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope-extralight.woff2') format('woff2'),
       url('./fonts/manrope-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope-light.woff2') format('woff2'),
       url('./fonts/manrope-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope-medium.woff2') format('woff2'),
  url('./fonts/manrope-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/manrope-regular.woff2') format('woff2'),
       url('./fonts/manrope-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manropes';
  src: url('./fonts/manrope-semibold.woff2') format('woff2'),
       url('./fonts/manrope-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay-Heavy.woff2') format('woff2'),
  url('./fonts/SFProDisplay-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
