.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $page-bg-color;
  position: fixed;
  background: #fff;
  height: 100vh;
  min-width: 300px;
  right: -100%;
  z-index: 1000;
  transition: right .5s;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.menu--popup {
  .burger {
    color: currentColor;
  }
}

.socials--popup {
  position: relative;
}

.popup-open {
  .popup {
    right: 0;
  }
}
