mixin menu(mod)
  - var modificator = mod ? `menu menu--${mod}` : 'menu';
  - var heading = mod === 'popup' ? 'Popup' : 'Header';

  nav(class=`${modificator}`)
    h2.visually-hidden Navigation menu in #{heading}
    ul.menu__list
      li.menu__item
        a(class="menu__link" href="#about") About
      li.menu__item
        a(class="menu__link" href="#apps") Apps
      li.menu__item
        a(class="menu__link" href="#contacts") Contacts
