.menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 68px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    position: relative;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.2rem;
      transform: translateX(-50%) scaleX(0);
      transform-origin: 50% 50%;
      width: 100%;
      height: .2rem;
      background-color: $alternative-color;
      transition: transform .3s;
    }

    &:hover::after,
    &--active {
      transform: translateX(-50%) scaleX(1);
    }
  }
}

.menu.menu--popup {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    text-align: center;
    margin-right: 0;
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .menu__link {
    display: inline-block;
  }
}
