extends ../layouts/template

block vars
  - var title = 'Product description';

block content
  .faq
    .faq__scroll
      a(class="buttons buttons__scroll-top" href="#")
    .container
      h2.title Meta Editor
      .faq__warapper
        aside.faq__aside
          .faq__controls
            a(class="buttons" href="#" target="_blank") Install
          .faq__title
            .subtitle How to:
          .faq__menu
            ul.faq__list
              li.faq__item
                a(class="faq__link" href="#") Сhange meta data for all products
              li.faq__item
                a(class="faq__link" href="#") Сhange meta data for some products
              li.faq__item
                a(class="faq__link" href="#") Edit ALT text
        .faq__content
          .card
            .card__content.main-light
              p We, humans, live on the Earth. And our planet Earth is surrounded by space. The sky is what we see of space. There are billions of stars and probably billions of other planets moving through space. Our planet is moving through space too.
              p We live on the surface of our planet Earth. Gravity keeps us here on the Earth. Gravity is an invisible force that pulls things and people toward the center of the Earth. All the other planets, stars and moons have gravity too. Without gravity we would float away into space.

            h3.card__title Asteroids

            .card__content.main-light
              p The vast majority of asteroids are small, compared with a large one like Ida, this 32-mile-long chunk of stone and iron that was photographed in 1993 by the Galileo spacecraft.

            .card__image
              .adaptive-images
                img(src=require("../layouts/sections/about/rectangle.jpg") alt="")

            .card__content.main-light
              p We, humans, live on the Earth. And our planet Earth is surrounded by space. The sky is what we see of space. There are billions of stars and probably billions of other planets moving through space. Our planet is moving through space too.
              p We live on the surface of our planet Earth. Gravity keeps us here on the Earth. Gravity is an invisible force that pulls things and people toward the center of the Earth. All the other planets, stars and moons have gravity too. Without gravity we would float away into space.

            h3.card__title Asteroids

            .card__content.main-light
              p The vast majority of asteroids are small, compared with a large one like Ida, this 32-mile-long chunk of stone and iron that was photographed in 1993 by the Galileo spacecraft.
