extends ../layouts/template

block vars
  - var title = 'Home page';

block content
  include ../layouts/sections/home/home
  include ../layouts/sections/about/about
  include ../layouts/sections/apps/apps
  include ../layouts/sections/contacts/contacts
