/*
Home styles
******************************************************************************************/
.home {
  position: relative;

  &__seo-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .seo-title {
      width: 9.651em;
    }
  }

  &__scroll {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 4.17%;
    transform: translate(-50%, 0);
    @include phones {
      display: block;
    }
  }
}
