mixin card (mod, data)
  if mod === 'about'
    .card
      .card__content: p #{data}
      .card__footer
        include ../../blocks/statistic/statistic
  if mod === 'apps'
    .card
      .card__wrapper
        .card__title #{data.title}
        .card__content.card--sf-pro-display: p #{data.text}
      .card__footer
        .controls
          ul.controls__list
            li.controls__item
              a(class="buttons" href="#" target="_blank") Install
            li.controls__item
              a(class="buttons" href="/ecad/faq.html") F.A.Q
  if mod === 'contacts'
    .card
      .card__content: p #{data}


