.header {
  position: fixed;
  width: 100%;
  padding: 2.8rem 0;
  z-index: 1;
  background-color: $page-bg-color;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: none;
    @include tablets {
      display: block;
    }
  }
}
