.header {
  position: fixed;
  width: 100%;
  padding-top: 28px;
  //padding-top: 64px;
  z-index: 8000;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    //display: flex;
  }

  &__burger {
    z-index: 9100;
    @include tablets {
      display: none;
    }
  }
  &__nav {
    display: none;
    @include tablets {
      display: block;
    }
  }
}
