form.contacts-form
  .contacts-form__input
    input(type="text" placeholder="Enter your name")
  .contacts-form__input
    input(type="email" placeholder="Write your e-mail")
  .contacts-form__textarea
    textarea(placeholder="Your message")
  .contacts-form__button
    button(class="buttons" type="submit") Send
