include ../layouts/mixins/mixins

block vars

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css")
    title Nordwind | #{title}
  body
    .wrapper
      include ../layouts/blocks/popup/popup
      include ../layouts/blocks/header/header
      +socials
      block content
    block scripts
